.home {
  padding-top: 80px; /* Ajusta este valor según la altura de tu header */
}

.container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.hasScrollbar {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
}

.hasScrollbar::-webkit-scrollbar {
  height: 10px;
}

.hasScrollbar::-webkit-scrollbar-track {
  background-color: var(--cultured-1);
  border-radius: 5px;
}

.hasScrollbar::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 5px;
}

.hasScrollbar::-webkit-scrollbar-button {
  width: 20px;
}

@media (min-width: 575px) {
  .home {
    padding-top: 100px; /* Ajusta según sea necesario */
  }
}

@media (min-width: 768px) {
  .home {
    padding-top: 120px; /* Ajusta según sea necesario */
  }
}

@media (min-width: 992px) {
  .home {
    padding-top: 140px; /* Ajusta según sea necesario */
  }
}
