.formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    color: var(--black);
    font-weight: var(--fw-500);
    font-size: var(--fs-7);
  }
  
  .formInput {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--cultured-1);
    border-radius: var(--radius-3);
    font-size: var(--fs-7);
  }
  
  .formInput:focus {
    outline: none;
    border-color: var(--primary-blue);
  }
  
  .highlightedBorder {
    border-color: var(--primary-blue);
  }
  
  .error {
    color: var(--red);
    font-size: var(--fs-8);
    margin-top: 3px;
  }
  
  @media (min-width: 768px) {
    .formGroup {
      margin-bottom: 20px;
    }
  
    .formGroup label {
      font-size: var(--fs-6);
    }
  
    .formInput {
      padding: 10px;
      font-size: var(--fs-6);
    }
  }