.section {
  padding: var(--section-padding);
}

.container {
  max-width: 1300px;
  width: 100%;
  margin-inline: auto;
  padding: 0 15px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-block-end: 20px;
}

.sectionTitle {
  color: var(--black);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}

.shopOptions {
  width: 100%;
}

.shopGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

@media (min-width: 575px) {
  .titleWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .shopOptions {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 30px;
  }
}
